/*
    components: layout.scss
*/

.l {
    background-color: $color-primary;
    width: 100%;
    height: 100%;
    display: flex;

    &__wrapper {
        padding: 32px 0;
    }

    &__nav {
        display: flex;
        justify-content: space-around;
    }

    &--left {
        width: 10%;
        display: flex;
        justify-content: center;
        padding-top: 32px;
    }

    &--mid {
        border-left: 1px solid $color-text-light;
        border-right: 1px solid $color-text-light;
        width: 80%;
    }

    &--right {
        width: 10%;
    }
}