/*
    base: global.scss
*/

* {
    box-sizing: border-box;
    font-family: 'Creato Display', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}