@font-face {
    font-family: CreatoDisplay, sans-serif;
    src: url('../../assets/fonts/CreatoDisplay-Bold.woff');
    src: url('../../assets/fonts/CreatoDisplay-ExtraBold.woff');
    src: url('../../assets/fonts/CreatoDisplay-Regular.woff');
    src: url('../../assets/fonts/CreatoDisplay-ThinItalic.woff');
}

a {
    text-decoration: none;
    color: $black;
}